---
import Layout from '../layouts/Layout.astro';
import Welcome from '../components/Welcome.astro';
import RSVP from '../components/RSVP.astro';
---

<Layout title="¡Estás Invitado a Mi Cumpleaños!">
	<main>
		<Welcome />
		<RSVP />
		<!-- Aquí añadiremos los componentes de Galería y Muro de Comentarios más adelante -->
	</main>
</Layout>