---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="¡Estás invitado a mi cumpleaños!" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Inter:wght@400&display=swap" rel="stylesheet">

		<!-- Estilos Globales -->
		<link rel="stylesheet" href="/src/styles/global.css" />
	</head>
	<body class="bg-background font-body text-text-primary">
		<slot />
	</body>
</html>